<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-12">
      <h1 class="textLeft">My Portfolio</h1>
    </div>
  </div>
  <div
    class="row justify-content-center"
    *ngIf="isLoading"
    style="margin-top: 40px"
  >
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <div *ngIf="!isLoading && this.tickers.length === 0">
    <app-empty-portfolio-alert></app-empty-portfolio-alert>
  </div>
  <div *ngIf="!isLoading && this.tickers.length !== 0">
    <div class="ml-2 mr-2" *ngFor="let priceData of prices">
      <app-portfolio-item
        [priceData]="priceData"
        [name]="names[priceData.ticker]"
        (change)="onChange($event, priceData.ticker)"
      ></app-portfolio-item>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-12">
      <h1 class="textLeft">My Watchlist</h1>
    </div>
  </div>
  <div
    class="row justify-content-center"
    *ngIf="isLoading"
    style="margin-top: 40px"
  >
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <div *ngIf="!isLoading && this.tickers.length === 0">
    <app-empty-watchlist-alert></app-empty-watchlist-alert>
  </div>
  <div *ngIf="!isLoading && this.tickers.length !== 0">
    <div class="ml-2 mr-2" *ngFor="let priceData of prices">
      <app-watchlist-item
        [priceData]="priceData"
        [name]="names[priceData.ticker]"
        (close)="onRemove($event)"
      ></app-watchlist-item>
    </div>
  </div>
</div>
-->
